.bb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  height: 65vh;
  margin: 100px 0 30px;
  font-family: "Avenir";
}

.bb-mid-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1600px) {
  .bb-mid-div {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .bb-mid-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bb-left {
  width: 55%;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .bb-left {
    width: 90%;
  }
}

.bb-left .bb-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  position: relative;
  top: -1px;
}

.bb-left .bb-tabs .bb-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90px;
  padding: 10px;
  border: none;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  outline: none;
  cursor: pointer;
}

.bb-left .bb-tabs .bb-tab:hover {
  background-color: #c9c9c9;
}

.bb-left .bb-tabs .bb-active-tab {
  font-weight: bold;
  background-color: #80e3dc;
}

.bb-left .bb-tabs .bb-active-tab:hover {
  background-color: #80e3dc;
}

.bb-left .bb-budget-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 20px;
}

.bb-left .bb-budget-box .bb-budget-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #9d9d9d;
}

.bb-left .bb-budget-box .bb-budget-top .bb-budget-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bb-left .bb-budget-box .bb-budget-top .bb-budget-top-left .bb-income {
  font-size: 20px;
  margin-bottom: 10px;
}

.bb-left .bb-budget-box .bb-budget-top .bb-budget-top-left .bb-sort {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}

.bb-left .bb-budget-box .bb-budget-top .bb-budget-top-right {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.bb-left .bb-budget-box .bb-budget-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-budget-middle-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-budget-middle-row .bb-budget-category {
  font-size: 24px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-budget-middle-row .bb-budget-dollars {
  font-size: 24px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 500px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-add-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px 20px 0;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-input-title {
  font-size: 20px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-input-box:focus-within {
  border-color: #777;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-prefix {
  font-weight: 300;
  font-size: 20px;
  color: #999;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-input-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 20px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-add-custom {
  margin-top: 10px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-add-custom .bb-add-custom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-add-custom .bb-add-custom-row .bb-delete-custom-btn {
  position: relative;
  top: 3px;
  padding: 11px;
  outline: none;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-buttons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-buttons-div .bb-add-custom-btn {
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.bb-left .bb-budget-box .bb-budget-middle .bb-add-body .bb-buttons-div .bb-submit-custom-btn {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.bb-left .bb-budget-box .bb-budget-bottom {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  padding-top: 10px;
  border-top: 1px solid #9d9d9d;
}

.bb-left .bb-budget-box .bb-budget-bottom .bb-budget-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bb-left .bb-budget-box .bb-budget-bottom .bb-budget-difference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bb-left .bb-budget-box .bb-budget-bottom .bb-budget-total-title {
  font-weight: bold;
}

.bb-right {
  position: relative;
  width: 44%;
  height: 100%;
}

.bb-right .bb-chart {
  width: 100%;
  height: 600px;
  border-radius: 100%;
}

.bb-right .bb-pie-chart {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.bb-right .bb-chart-type {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1000px) {
  .bb-right {
    width: 90%;
  }
}
/*# sourceMappingURL=BudgetBreakdown.css.map */